<div class="mat-app-background app-wrapper">

  <main>

    <div class="button-block">
      <button mat-raised-button color="primary" (click)="ping()">Ping</button>
    </div>

    <mat-card class="table-block">
      <table>
        <thead>
        <tr>
          <th>
            Host
          </th>
          <th>
            Req Host
          </th>
          <th>
            Req IP
          </th>
          <th>
            Date
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let row of data">
          <td>
            {{row.host}}
          </td>
          <td>
            {{row.req_host}}
          </td>
          <td>
            {{row.req_ip}}
          </td>
          <td>
            {{row.date | date:'medium'}}
          </td>
        </tr>

        </tbody>
      </table>

    </mat-card>

  </main>

</div>
